.upload-img {
  width: 35%;
}
.logo-img {
    width: 15%;
  }
.dynamic-sec{
    border: 1px solid #e6dfdf;
    padding: 1.5rem;
}
.page-background{
    // background-image: linear-gradient(to right, #6d0497, #7302a7, #7802b8, #7c03c9, #7f06db);
    // background-image: url(../../../assets/images/upload-img.png);
    background-size: auto 100%;
    background-image: linear-gradient(to right, #d662ef, #b684ff, #999eff, #89b1ff, #8bc1ff, #8dc3ff, #8fc5ff, #91c7ff, #8cbdff, #8bb3ff, #8fa8ff, #979bfe);
}
.blur-effect{
    backdrop-filter: blur(20px);
    //   background: transparent; 
    // background-image: linear-gradient(to right, #ddcde4, #d6c2e0, #ceb7db, #c6acd7, #bea1d3);
    // background-image: linear-gradient(to right, #e9cdf6, #dec2ed, #d4b7e4, #c9acdc, #bea1d3);
    // background-image: linear-gradient(to right, #f4e8f9, #f1e3f8, #eeddf8, #ebd8f7, #e8d3f7);
    background-image: linear-gradient(to right, #e9cdf6, #e5c4f7, #e1baf7, #dcb1f8, #d7a8f9);
    box-shadow: 0px 0px 15px 5px #ebd9f4 inset;
    // box-shadow: 0px 0px 20px 5px #cbc1de inset
}
html, body {
    height:100%;
}